@require "./node_modules/normalize.css/normalize.css"
@require "./fonts/SourceSansPro.styl"

$primary = #333333
$secondary = #646464
$tertiary = #808080
$border = #D9D9D9

$purple = #C693C6
$blue = #6498CE
$green = #98C892
$orange = #FB9150
$red = #EE5E64


html, body
  margin 0
  padding 0
  font-family "Source Sans Pro", Calibri, Candara, Arial, sans-serif
  color $primary
  font-size 15px

h1, h2, h3, h4, h5, h6
  font-weight lighter

header
  h1
    text-transform uppercase
    margin-left 20px

.caption
  margin 0 20px
  padding 10px 0
  color $tertiary
  font-size 14px

nav
  margin 0 20px

article
  border 1px solid $border
  border-left-width 3px
  padding 0 20px 20px 20px
  margin 0 20px
  a
    text-decoration none
    border-bottom 2px solid $border
    color inherit
