@font-face
  font-family 'Source Sans Pro'
  text-rendering optimizeLegibility
  font-weight lighter
  font-style normal
  font-stretch normal
  src url('./fonts/SourceSansPro-Light.ttf.woff2') format('woff2'),
     url('./fonts/SourceSansPro-Light.otf.woff') format('woff'),
     url('./fonts/SourceSansPro-Light.otf') format('opentype'),
     url('./fonts/SourceSansPro-Light.ttf') format('truetype')

@font-face
  font-family 'Source Sans Pro'
  text-rendering optimizeLegibility
  font-weight normal
  font-style normal
  font-stretch normal
  src url('./fonts/SourceSansPro-Regular.ttf.woff2') format('woff2'),
     url('./fonts/SourceSansPro-Regular.otf.woff') format('woff'),
     url('./fonts/SourceSansPro-Regular.otf') format('opentype'),
     url('./fonts/SourceSansPro-Regular.ttf') format('truetype')

@font-face
  font-family 'Source Sans Pro'
  text-rendering optimizeLegibility
  font-weight normal
  font-style italic
  font-stretch normal
  src url('./fonts/SourceSansPro-It.ttf.woff2') format('woff2'),
     url('./fonts/SourceSansPro-It.otf.woff') format('woff'),
     url('./fonts/SourceSansPro-It.otf') format('opentype'),
     url('./fonts/SourceSansPro-It.ttf') format('truetype')

@font-face
  font-family 'Source Sans Pro'
  text-rendering optimizeLegibility
  font-weight bold
  font-style normal
  font-stretch normal
  src url('./fonts/SourceSansPro-Bold.ttf.woff2') format('woff2'),
     url('./fonts/SourceSansPro-Bold.otf.woff') format('woff'),
     url('./fonts/SourceSansPro-Bold.otf') format('opentype'),
     url('./fonts/SourceSansPro-Bold.ttf') format('truetype')
